<mat-card class="card-register">
        <mat-card-title>Registro</mat-card-title>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="User:" [(ngModel)]="user"  required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password:" [(ngModel)]="userPass">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Confirmar Password:" [(ngModel)]="userPassII">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Email:" [(ngModel)]="userEmail">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Nombre:" [(ngModel)]="userName">
      </mat-form-field>
      <mat-checkbox [(ngModel)]="checkValidar">Aceptas terminos y condiciones</mat-checkbox>
      <button (click)="clickRegister()" mat-button>Submit</button><br>
      <div id="validar">{{validar}}</div>
</mat-card>